

img {
	
      margin: 100px;
      animation-name: SpinnyBear;
      animation-duration: 2s; 
      animation-timing-function: linear; 
      animation-iteration-count: infinite;
      animation-direction: normal;
     /* try these values for the animation-direction property:
        reverse
        alternate
        normal
      */
 }
 
 @keyframes SpinnyBear {
     from {
         
     }
     
     to {
       transform: rotate(360deg)
       
     }
 }