body, html {
    height: 100%;
}

.element {
	
      
      height: 150px;
      width: 150px;
      background-color: #BA4545;
      transition-duration: 1s; 
       
      
 }
 
.element:hover {
       transform: translate(100%, 0)
     }
 